@media only screen and (max-width: 455px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 370px) {
    html {
        font-size: 12px;
    }
}

header nav {
    margin: 2rem auto 0;
    max-width: 80%;
    padding: 0.5rem 0;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgb(174, 174, 174);
}

header nav ul li {
    display: inline-block;
    font-family: Oxygen, sans-serif;
    font-size: 1.5rem;
    margin: 0.5rem 1rem;
    transition: color 0.5s, text-shadow 0.5s;
    cursor: pointer;
}

hr {
    display: none;
}

main {
    width: 100%;
    margin-bottom: 2rem;
}

#content {
    font-family: Oxygen, sans-serif;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
    padding: 0 0.5rem;
    letter-spacing: 1px;
}

.institution h2 {
    font-weight: bold;
    font-size: 1.6rem;
    display: inline-block;
}

.institution h3 {
    font-size: 1.4rem;
}

/*EDUCATION*/
.institution {
    padding: 0 0.5rem;
    margin: 1rem 0.5rem;
    border: 1px solid black;
    background-color: rgba(50, 50, 50, 0.2);
}

.institution > * {
    margin: 0.5rem 0;
}

.classList dt {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline;
    margin: 0.8rem 0 0.2rem;
}

.arrow {
    margin-left: 0.5rem;
    height: 0;
    width: 0;
    content: '';
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
    display: inline-block;
}