@media only screen and (max-width: 840px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 370px) {
    html {
        font-size: 12px;
    }
}

header nav {
    margin: 2rem auto 0;
    max-width: 80%;
    padding: 0.5rem 0;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgb(174, 174, 174);
}

header nav ul li {
    display: inline-block;
    font-family: Oxygen, sans-serif;
    font-size: 1.5rem;
    margin: 0.5rem 1rem;
    transition: color 0.5s, text-shadow 0.5s;
    cursor: pointer;
}

hr {
    display: none;
}

main {
    width: 100%;
    margin-bottom: 2rem;
}

#content {
    font-family: Oxygen, sans-serif;
    max-width: 90%;
    height: 0;
    margin: 0 auto;
    border: 1px solid black;
    padding: 0.5rem 0.5rem;
    letter-spacing: 1px;
    overflow: hidden;
}

#work-content,
#education-content,
#skills-content,
#bio-content {
    height: 0;
    overflow: hidden;
}

/*EDUCATION*/
.institution,
.company {
    opacity: 0;
    height: 0px;
    padding: 0.5rem 0.5rem;
    margin: 1rem 0.5rem;
    position: relative;
    border: 1px solid black;
    background-color: rgba(50, 50, 50, 0.2);
    overflow: hidden;
    transition: height 0.8s, opacity 0.5s;
}

#education-content .institution:first-child,
#education-content .institution:last-child {
    margin: 0.5rem;
}

.click-panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    z-index: 5;
}

.institution-info {
    width: 80%;
    display: inline-block;
}

.institution hr {
    display: block;
}

.institution h2 {
    font-weight: bold;
    font-size: 1.5rem;
    display: inline-block;
    max-width: fit-content;
    margin-bottom: 0.7rem;
}

.institution h3 {
    font-size: 1.4rem;
    font-weight: bold;
}

.institution p {
    line-height: 1.1;
}

.expanded {
    opacity: 0;
    transition: opacity 1.5s;
    margin-top: 1.2rem;
}

.education-list dt {
    font-size: 1.3rem;
    text-decoration: underline;
    margin: 0.8rem 0 0.4rem;
}

.education-list li {
    margin: 0.5rem 0;
}

.arrow-container {
    width: 12%;
    height: 100%;
    float: right;
}

.arrow {
    position: relative;
    height: 0;
    width: 0;
    transition: transform 0.5s, border-color 0.5s;
    border-left: 1rem solid black;
    border-top: 1.2rem solid transparent;
    border-bottom: 1.2rem solid transparent;
    margin: 0 auto;
    vertical-align: middle;
}

.clearfix {
    display: block;
}


/*BIO*/
#bio-content p {
    height: 0px;
}