html {
    height: 100%;
    font-size: 20px;
}

body {
    background-image: 
    radial-gradient(circle farthest-corner at 85% 75%,
    rgba(114, 51, 187, 0.9) 0%,
    rgba(148, 102, 223, 0.5) 60%,
    rgba(195, 182, 240, 0.1) 75%
    ),
    radial-gradient(circle farthest-corner at 10% 10%,
    rgba(41, 43, 163, 0.9) 0%,
    rgba(60, 154, 241, 0.5) 50%,
    rgba(145, 238, 230, 0.1) 75%
    ),
    radial-gradient(circle farthest-corner at 0% 100%,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.6) 60%,
    rgba(0, 0, 0, 0) 90%
    );
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

header {
    margin: 1rem auto 2rem;
    text-align: center;
}

h1 {
    font-size: 2.4rem;
    font-family: Caveat, sans-serif;
    text-shadow: 4px 4px 20px rgb(41, 41, 41),
                 2px 2px 8px rgb(240, 231, 253);
    padding: 0.65rem 0 1rem;
}

h1,
footer h2 {
    max-width: 60%;
    margin: 0 auto;
    letter-spacing: 1px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 5px;
    background-color: rgba(160, 160, 160, 0.25);
}

main {
    max-width: 1400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 2rem 2rem 0;
    font-family: Oxygen, sans-serif;
}

section {
    min-width: 20rem;
    max-width: 30rem;
    padding: 1rem;
    margin: 0 1rem 2rem;
    flex: 1 1;
    letter-spacing: 1px;
}

section h2 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: rgba(222, 201, 255, 0.9);
    text-shadow: 0 0 1px rgb(111, 111, 111);
}

a:visited {
    color: rgba(77, 47, 121, 0.9);
}

section h3 {
    font-size: 1.4rem;
}

section p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.25;
}

footer {
    margin: 0 0 40px;
    width: 100%;
    text-align: center;
}

hr {
    border: 1px solid rgba(77, 47, 121, 0.9);
    background-color: rgba(77, 47, 121, 0.9);
    margin: 1rem 0;
}

footer::after {
    content: '';
    display: block;
    height: 20px;
}

footer h2 {
    padding: 0.8rem 0;
    font-family: Oxygen, sans-serif;
}