@media only screen and (max-width: 455px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 370px) {
    html {
        font-size: 12px;
    }
}

section {
    padding: 1rem 0.5rem;
    border: 5px solid white;
    border-radius: 10px;
    background-color: hsla(270, 80%, 15%, 0.3);
    box-shadow: 2px 2px 5px hsla(270, 50%, 10%, 0.7),
                -2px -2px 10px hsla(270, 50%, 90%, 0.7);
}

@media only screen and (max-width: 660px) {
    section {
        margin: 1rem 1.2rem;
    }
}

section h2 {
    color: white;
    border-bottom: 2px double white;
    padding-bottom: 5px;
    margin: 0 0.5rem;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}

.flex-container .flex-item {
    min-width: 150px;
    text-align: center;
    border: 3px solid rgba(0, 0, 0, 0.7);
    margin: 1.5rem 0.5rem 0;
    flex-grow: 1;
    font-size: 1rem;
}

.fonts .flex-item {
    background-color: rgba(57, 26, 93, 0.7);
}

.flex-item p {
    margin: 1rem 0.75rem;
    letter-spacing: 1px;
}

.fonts p {
    color: white;
}

.flex-item h3 {
    margin: 1rem 0.75rem;
}

.fonts h3 {
    color: white;
}

.purple {
    background-color: rgb(114, 51, 187);
    color: white;
}

.blue {
    background-color: rgb(41, 43, 163);
    color: white;
}

.teal {
    background-color: rgb(60, 154, 241);
}

.fonts .flex-container .flex-item {
    border: 3px solid black;
    box-shadow: 0 0 2px white;;
}

.caveat {
    font-family: Caveat;
}

.oxygen {
    font-family: Oxygen;
}

.teko {
    font-family: Teko;
}

.crazy h3 {
    text-shadow: 0 0 10px white;
}

.wild {
    background-color: rgba(255, 255, 255, 0.9);
}

.wild h3 {
    text-shadow: 2px 2px 1px yellow,
                 -2px -2px 1px red;
    color: blue;
}

.fergalicious h3 {
    font-weight: bold;
    color: white;
    text-shadow: 0 0 15px rgb(136, 221, 250);
}

@media only screen and (max-width: 520px) {

    h1,
    footer h2 {
        max-width: 100%;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }

    main {
        margin: 2rem 0 0;
    }

    section {
        max-width: 100%;
        margin: 0 0 2rem;
        border-top-width: 3px;
        border-bottom-width: 3px;
        border-right: none;
        border-left: none;
        border-radius: 0;
        box-shadow: 0px 0px 15px rgba(211, 211, 211, 0.4);
    }

}

@media only screen and (min-width: 1480px) {
    main {
        margin: 2rem auto 0;
    }
}