html {
    height: 100%;
    font-size: 20px;
}

@media only screen and (max-width: 420px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 320px) {
    html {
        font-size: 12px;
    }
}

body {
    background-image: 
    radial-gradient(circle farthest-corner at 85% 75%,
    rgba(114, 51, 187, 0.9) 0%,
    rgba(148, 102, 223, 0.5) 60%,
    rgba(195, 182, 240, 0.1) 75%
    ),
    radial-gradient(circle farthest-corner at 10% 10%,
    rgba(41, 43, 163, 0.9) 0%,
    rgba(60, 154, 241, 0.5) 50%,
    rgba(145, 238, 230, 0.1) 75%
    ),
    radial-gradient(circle farthest-corner at 0% 100%,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.6) 60%,
    rgba(0, 0, 0, 0) 90%
    );
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

header {
    margin: 2rem auto;
    text-align: center;
}

h1 {
    max-width: 60%;
    margin: 0 auto;
    padding: 0.7rem 0 1rem;
    font-size: 2.4rem;
    font-family: Caveat, sans-serif;
    letter-spacing: 1px;
    text-shadow: 5px 5px 15px rgb(41, 41, 41),
                 2px 2px 8px rgb(240, 231, 253);
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 2px;
    line-height: 0.8;
    background-color: rgba(160, 160, 160, 0.1);
    box-shadow: 0 0 50px rgba(157, 237, 255, 0.8);
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 2rem 1rem;
    font-family: Oxygen, sans-serif;
}

section {
    min-width: 15rem;
    max-width: 25rem;
    padding: 1rem;
    margin: 0 2rem 2rem;
    flex: 1 1;
    border: 2px solid black;
    letter-spacing: 1px;
    background-color: rgba(255, 255, 255, 0.275);
    box-shadow: 3px 3px 8px black;
}



section h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

section h3 {
    font-size: 1.4rem;
    margin-bottom: 0.75rem;
}

section p {
    font-size: 1rem;
    font-weight: 300;
}

@media only screen and (max-width: 510px) {

    h1 {
        max-width: 100%;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }

    main {
        margin: 2rem 0;
    }

    section {
        max-width: 100%;
        margin: 0 0 2rem;
        border-top-width: 3px;
        border-bottom-width: 3px;
        border-right: 0;
        border-left: 0;
        box-shadow: 0px 0px 15px rgba(41, 41, 41, 0.4);
    }

}